{% extends "base.html" %}
{% block title %}Nanyang Financial Holdings - Forgot Password ?{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Forget PIN</h2>
            <form action="" method="post">
                <div class="form-outline form-group mb-4">
                  {{ render_field(form.identity_no, class="form-control") }}
                </div>
                <div class="form-outline form-group mb-4">
                  {{ render_field(form.date_of_birth, class="form-control") }}
                </div>
                <div class="form-outline form-group mb-4">
                  {{ render_field(form.username, class="form-control") }}
                </div>
                <div class="form-outline form-group mb-4">
                  {{ render_field(form.PIN, class="form-control") }}
                </div>
                <div class="form-outline form-group mb-4">
                  {{ render_field(form.confirm, class="form-control") }}
                </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
