{% extends "base.html" %}
{% block title %}Nanyang Financial Holdings - Home{% endblock %}


{% block content %}
<style>
  img{
  width:100%;
  height: 460px;
  }
</style>
<img src="static/img/bank.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/ionicons.min.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='fonts/icomoon/style.css')}}">

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/jquery.fancybox.min.css')}}">

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-datepicker.css')}}">

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='fonts/flaticon/font/flaticon.css')}}">

<!--<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/aos.css')}}">-->

<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}">
<div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src="static/img/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Money Savings</h3>
            <p>Earn more interest in savings with little to no effort.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="static/img/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Online Shoppings</h3>
            <p>Ease of use and accessability everywhere and anywhere you go. NFH</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="static/img/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Credit / Debit Cards</h3>
            <p>Wolrd-wide use of our cards. Travel anywhere with NFH.</p>
          </div>

        </div>
		  <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Promise</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">We want to make banking invisible to you.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="static/img/hero_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

            <h3 class="text-black mb-4">About Us</h3>

            <p>We seek to "Make Banking Joyful" - by leveraging digital technologies and embedding ourselves seamlessly into your lives to deliver simple, fast and contextual banking solutions and experiences. We are here for the long term, with a view to enrich lives, transform businesses and drive sustainable outcomes.</p>

            <p>Being purpose-driven is part of our DNA. From the time of NFH's founding as the Development Bank of Singapore and “People’s Bank” respectively, we have believed in the importance of good citizenship. Building on this illustrious heritage, NFH has continued to reinvent ourselves over the years with a view to creating a more sustainable bank.</p>

          </div>
        </div>
      </div>
          </div>
      </div>
</div>
<footer class="footer-08">
			<div class="container-fluid px-lg-5">
				<div class="row">
					<div class="col-md-9 py-5">
						<div class="row">
							<div class="col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Our Vision</h2>
								<p>Being purpose-driven is core to how we run our business.</p>

							</div>
							<div class="col-md-8">
								<div class="row justify-content-center">
									<div class="col-md-12 col-lg-9">
										<div class="row">
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Discover</h2>
												<ul class="list-unstyled">
						              <li><a href="#" class="py-1 d-block">Buy &amp; Sell</a></li>
						              <li><a href="#" class="py-1 d-block">Merchant</a></li>
						              <li><a href="#" class="py-1 d-block">Giving back</a></li>
						              <li><a href="#" class="py-1 d-block">Help &amp; Support</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">About</h2>
												<ul class="list-unstyled">
						              <li><a href="#" class="py-1 d-block">Staff</a></li>
						              <li><a href="#" class="py-1 d-block">Team</a></li>
						              <li><a href="#" class="py-1 d-block">Careers</a></li>
						              <li><a href="#" class="py-1 d-block">Blog</a></li>
						            </ul>
											</div>
											<div class="col-md-4 mb-md-0 mb-4">
												<h2 class="footer-heading">Resources</h2>
												<ul class="list-unstyled">
						              <li><a href="#" class="py-1 d-block">Security</a></li>
						              <li><a href="#" class="py-1 d-block">Global</a></li>
						              <li><a href="#" class="py-1 d-block">Charts</a></li>
						              <li><a href="#" class="py-1 d-block">Privacy</a></li>
						            </ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
</footer>

{% endblock %}
