{% extends "base.html" %}
{% block title %}Nanyang Financial Holdings - Retrieve Users{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Users</h1>
{% if admin %}
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Username</th>
        <th>CID</th>
        <th>Card Status</th>
      </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{user.get_first_name()}}</td>
        <td>{{user.get_last_name()}}</td>
        <td>{{user.get_gender()}}</td>
        <td>{{user.get_username()}}</td>
        <td>{{user.get_cid()}}</td>
        {% if user.get_active() %}
        <td>Active</td>
        {% else %}
        <td>Disabled</td>
        {% endif %}
        <td><a href="/updateUser/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.get_user_id())}}"  method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?');" >
          </form>

        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Username</th>
        <th>CID</th>
        <th>Card Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{user.get_first_name()}}</td>
        <td>{{user.get_last_name()}}</td>
        <td>{{user.get_gender()}}</td>
        <td>{{user.get_username()}}</td>
        <td>{{user.get_cid()}}</td>
        {% if user.get_active() %}
        <td>Active</td>
        {% else %}
        <td>Disabled</td>
        {% endif %}
        <td><a href="/updateUser/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
